.underline{
  text-decoration: underline;
}
.center{
  text-align: center;
}
.bold{
  font-weight: bold;
}
.button{
  width: 100%;
}
.options{
  width: 100%;
}
.border{
  box-shadow: 60px -1px black;
  boder: 1px solid balck;
}
.inputPadding{
  padding-top: 0.7em;
}
.photo{
  max-width: 75px;
  max-height: 75px;
}
#history{
  border-top: 3px dashed black;
  padding-top: 2em;
}
#photo{
  max-width: 320px;
  max-height: 240px;
}
#avatar{
  max-width: 320px;
  max-height: 240px;
}
#logout{
  height: 5em;
  margin-right: -15px;
}
.topMargin{
  margin-top: 3em;
}
.predictionHeader{
  padding-right: 8%;
}
.white{
  background-color: #fff;
}
.backgroundColor{
  background-color: #f5ebea;
}
.gray{
  background-color: #e0e0e0;
}
