.row
  .col-sm-5.col-sm-offset-1
    div.white.box-shadow.padding.topMargin
      h3.bold Author:
      img.img-thumbnail.box-shadow(src='/assets/mePic.jpg')
      h4 Edwin Dover
      h4 Full Stack Web Developer for Hire
      h4 San Francisco and LA
  .col-sm-5
    .col-xs-6
      div.white.box-shadow.padding.topMargin
        h3.bold Tech:
        ul
          li Angular JS
          li FireBase
          li Lodash
          li Moment
          li BootStrap
        ul
          li Node JS
          li MongoDB
          li Mongoose
          li Hapi
          li Mocha
    .col-xs-6
      div.white.box-shadow.padding.topMargin
        h3.bold Special Thanks:
        ul
          li SFNode Meetup
          li DocuSign
          li Coding House
    .col-xs-6
      div.white.box-shadow.padding.topMargin
        h3.bold API's:
        ul
          li Ergast F1
          li Google Maps
        
