.row
  .col-xs-3.col-xs-offset-2
    div.white.padding.box-shadow.topMargin
      h3 PROFILE
      form(name='userForm', novalidate)
        .form-group
          label(for='name') Name
          input.form-control#name(type='name', name='name', ng-model='user.name', placeholder='First Last')
        .form-group
          label(for='name') UserName
          input.form-control#username(type='name', name='username', ng-model='user.username')
        .form-group
          label(for='email') Email
          input.form-control#email(type='email', name='email', ng-model='user.email', placeholder='edsdover@gmail.com')
        .form-group
          button.btn.btn-success#update(type='submit', ng-click='update(user)') Update
  .col-xs-3
    div.white.padding.box-shadow.topMargin
      .form-group
        label(for='avatar') Avatar
        input.form-control#avatarInput(type='url', name='avatar', ng-model='user.avatar')
        h4 Photo Center
        button.webButton.btn.btn-info(ng-click='camOn()', ng-hide='webcamOn') Webcam On
        button.webButton.btn.btn-info(ng-click='takeSnapshot()', ng-show='webcamOn') Take Photo
        button.webButton.btn.btn-warning(ng-click='camOff()', ng-show='webcamOn') Webcam Off
        #camera
  .col-xs-3
    div.white.padding.box-shadow.topMargin(ng-if='user.photo || user.avatar')
      .form-group
        img.img-responsive.img-thumbnail#photo(ng-src='{{user.photo}}')
        img.img-responsive.img-thumbnail#avatar(ng-src='{{user.avatar}}')
